@model EmpleadoModel
@{
    ViewData["Title"] = "EliminarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Eliminar empleado
  </div>
  <div class="card-body">
  <form asp-action="EliminarEmpleado" asp-controller="Empleado" method="post">
      <input asp-for="IdEmpleado" type="hidden" class="form-control" >
            
      
       <div class="alert alert-danger" role="alert">
          ¿Desea eliminar el contacto: @Html.DisplayTextFor(m => m.Nombre)?
        </div>
        <button type="submit" class="btn btn-primary">Eliminar</button>
      <a asp-action="MostarEmpleado" asp-controller="Empleado" class="btn btn-success ">Regresar</a>
   </form>
  </div>
</div>

