<!--Establecemos el modelo a utilizar-->
@model ClienteModel
@{
    ViewData["Title"] = "GuardarClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
  <div class="card-header">
    Crear cliente
  </div>
  <div class="card-body">
  <form asp-action="GuardarClientes" asp-controller="Cliente" method="post">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" type="text" class="form-control" >
        <span asp-validation-for="Nombre" class="text-danger"></span>
        
      </div>
      <div class="mb-3">
        <label class="form-label">Documento</label>
        <input asp-for="NumDocumento" type="number" class="form-control" >
        <span asp-validation-for="NumDocumento" class="text-danger"></span>
        
      </div>
      <div class="mb-3">
        <label  class="form-label">Dirección</label>
        <input asp-for="Direccion" type="text" class="form-control" >
        <span asp-validation-for="Direccion" class="text-danger"></span>
      </div>

      <div class="mb-3">
        <label  class="form-label">Teléfono</label>
        <input asp-for="Telefono" type="number" class="form-control">
        <span asp-validation-for="Telefono" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label  class="form-label">Email </label>
        <input asp-for="Email" type="text" class="form-control"  >
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      
      <button type="submit" class="btn btn-primary">Guardar</button>

      <a asp-action="MostarClientes" asp-controller="Cliente" class="btn btn-success ">Regresar</a>
   </form>
  </div>
</div>
